*{
    margin: 0;
}


body{
    background-color: #dfdcdc;
}

h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    color: #0f1670;
}

.login-container{
    text-align: center;
    display: grid;
    place-items: center;
    margin-top: 100px;
}


.form{
    box-shadow: 0px 0px 10px 0px  rgb(90, 90, 90) ;
    background-color: rgb(243, 244, 245);
    width: 400px;
    height: 270px;
    text-align: center;
    border-radius: 12px;
}

.form-login{
    text-align: left;
    margin: 20px 30px;
}

.form-input{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 12px 0px 0px 0px;
}

.form-label{
    text-align: left;
}

.error{
    text-align: center;
    margin-top: 14px;
}

.button{
    margin-top: 3px;
    padding: 10px 20px;
    background-color:blue ;
    color: white;
    border: none;
    width: 88%;
    border-radius: 5px;
    cursor: pointer;
}